<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>trackRuns</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cosmo/bootstrap.min.css">
    
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/users/show.css">
</head>
<body>
  <div id="navbar">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">trackRuns</a>
        </div>
    
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
              <li><a href="/users/<%= user.id %>/runs/new">Add New Run <span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if (!req.session.id) { %>
              <li><a href="/login">Log In</a></li>
              <li><a href="/signup">Sign Up</a></li>
            <% } else { %>
              <li><a href="/logout">Log Out</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="col-sm-3 jumbotron">
    <div id="wholeContainer">
      <% if (!user.avatar) { %>
        <div id="avatarContainer">
          <img src="/images/generic_pic.jpg" id="avatar">
        </div>
      <% } else { %>
        <img src="<%= user.avatar %>" id="avatar">
      <% } %>

      <div id="nameContainer">
        <div id="name"><%= user.firstName %> <%= user.lastName %></div>
      </div>

      <div id="personal">Personal Stats:</div>

      <div id="statsContainer">
        <div id="totalRuns">Runs Recorded: unimplementeds</div>
        <div id="fastestSplit">Fastest Mile Split: unimplemented</div>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
    <table class="table table-bordered table-hover">
      <thead>
        <th></th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Distance</th>
        <th>Total Time</th>
        <th>Mile Pace</th>
      </thead>
      <tbody>
        <% if (runs) { %>
          <% runs.forEach(function(runs){ %>
            <tr>
              <td><a href="/runs/<%= runs.id %>" id="route">See Route</a></td>
              <td><%= runs.origin %></td>
              <td><%= runs.destination %></td>
              <td><%= runs.distance %></td>
              <td><%= runs.timeMinutes %>:<% if (runs.timeSeconds < 10) { %>0<%= runs.timeSeconds %><% } else { %><%= runs.timeSeconds %><% } %></td>
              <td><%= runs.averageMileMinute %>:<% if (runs.averageMileSecond < 10) { %>0<%= runs.averageMileSecond %><% } else { %><%= runs.averageMileSecond%><% } %></td>
            </tr>
          <% }) %>
        <% } %>
      </tbody>
    </table>
  </div>

</body>
</html>